.git
.gitignore
.venv
.vscode
.pytest_cache
node_modules
frontend/node_modules
frontend/dist
data/raw
data/processed
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.local
.env.development
.env.production
.env.staging
